{# src/DefaultBundle/Resources/views/index.html.twig #}
{% extends "BdtlnDefaultBundle::layout_default.html.twig" %}


{% block default_body %}
   	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3 class="">
                            <u>{{ "Databases and natural languages processing" | trans }}</u>
			</h3>
			<p class="lead">
                            {% trans %} The « Data bases and natural languages processing » (DbLnp) team has for its thematic, the research of representing, manipulating, maintaining and analysing voluminous data. This data is more or less structured : strongly structured for relational data bases, half-structured for XML Document bases and weakly structured for textual corpus.\n              Researches of the DbLnp team are focused around three excellence domains :{% endtrans %}
                        </p>
                        <ul class="lead">
                            <li class="lead">{{ "Repositories and data mining," | trans }}</li>
                            <li class="lead">{{ "Services and Web data," | trans }}</li>
                            <li class="lead">{{ "Automatic processing of languages and interaction." | trans }}</li>
                        </ul>
                        <p class="lead">    
                            {% trans %}These domains are not exclusive to one another, as permanent team members have for the most participated in works, projects or managements on several of them. These domains meet by using common tools and interest in interactions with the user.{% endtrans %}
			</p>
                        
		</div>
		<div class="col-md-2 column">
		</div>
                            {% include 'BdtlnDefaultBundle:menus:last_publications.html.twig'%}
	</div>
	<div class="row clearfix" id="pied_de_page">
		<div class="col-md-12 column">	
		</div>
	</div>
{% endblock %}