{# src/DefaultBundle/Resources/views/index.html.twig #}
{% extends "BdtlnDefaultBundle::layout_default.html.twig" %}


{% block default_body %}
   	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3 class="">
                            <u>Bases de données et traitement du langage naturel</u>
			</h3>
			<p class="lead">
                            L'équipe « Bases de données et traitement des langues naturelles » (BdTln) a pour thématique de recherche la représentation, la manipulation, la maintenance et l'analyse de données volumineuses. Ces données sont plus ou moins structurées : fortement structurées pour les bases de données relationnelles, semi-structurées pour les bases de documents XML et faiblement structurées pour les corpus textuels.
                            Les recherches de l'équipe BdTln sont structurées autours de trois domaines d'excellence :
                        </p>
                        <ul class="lead">
                            <li class="lead">Entrepôts et fouille de données,</li>
                            <li class="lead">Services et données du web,</li>
                            <li class="lead">Traitement automatique des langues et interaction.</li>
                        </ul>
                        <p class="lead">    
                            Ces domaines ne sont pas exclusifs les uns des autres, les membres permanents de l'équipe ayant pour la plupart participé à des travaux, projets ou encadrements sur plusieurs d'entre eux. Ces domaines se rejoignent par l'utilisation d'outils formels communs et l'intérêt pour l'interaction avec l'utilisateur.
			</p>
                        
		</div>
		<div class="col-md-2 column">
		</div>
		<div class="col-md-2 column" id="flux">
			<h4>NEWS</h4>
			<ul>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix" id="pied_de_page">
		<div class="col-md-12 column">	
		</div>
	</div>
{% endblock %}