{# src/BdtlnPublicationBundle/Resources/views/Publication/publication_list.html.twig #}
{#
    Here a user will can see all publications posted by the team
#}

{% extends "BdtlnPublicationBundle::layout_publication.html.twig" %}

{% block publication_body %}
      
    <div class="row clearfix" >
	<div class="col-md-10 column">
            <table class="table" id="formulaire">
                <thead>
                    <tr>
                        <th> {{ "Publication" | trans }}</th>
                        <th>{{ "Author" }}</th>
                    </tr>
                </thead>
                {% if publications is defined and publications is not null and publications | length > 0 %}
                <tbody>
                    {% for publication in publications %}
                    <tr>
                        <td> <a href="#">{{ publication.title }}</a></td>
			<td><a href="#">{{ publication.owner.firstName }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
{% endblock %}

