{# src/Bdtln/UserBundle/Resources/views/layout.html.twig #}
{# layout_user extends the global index #}
{% extends "::index.html.twig" %}



{% block body %}
    {# Displaying of session flashbag defined by controllers #}
    {% for key, messages in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {% for message in messages %}
                {{ message|trans({}, 'FOSUserBundle') }}
            {% endfor %}
        </div>
    {% endfor %}
    {# The others views of this bundle will redefined this block #}
    
    {% block fos_user_content %}
    
    {% endblock fos_user_content %}
{% endblock %}
