{# src/ProjectBundle/Resources/views/menus/attached_files.html.twig #}


    <div id="flux">
        <h4>{{ "Attached files" | trans }}</h4>
        {# If there is at least one attached file, display it #}
        {% if files is defined and files is not null and files|length > 0%}
            <ul>
                {% for file in files %}
                    <li><a title="{{ file.title }}" href="{{ asset('uploads/attached_files/'~file.path) }}">{{ file.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
