{# src/BdtlnProjectBundle/Resources/views/menus/participants.html.twig #}

{#If there is at least one participant, diplay him#}
{% if participants is defined and participants is not null and participants|length > 0%}
     <div id="flux">
        <h4>Participants</h4>
        <ul>
            {% for participant in participants %}
                <li><a class="link-menu" href="{{ path('fos_user_profile_show', {'username': participant.username}) }}">{{ participant.firstName }} {{ participant.lastName }}</a></li>
             {% endfor %}
            </ul>
    </div>
{% endif %}