{# src/BdtlnProjectBundle/Resources/views/menus/participants.html.twig #}

{#If there is at least one participant, diplay him#}
{% if participants is defined and participants is not null and participants|length > 0%}
     <div id="flux">
        <h4>Participants</h4>
        <ul>
            {% for participant in participants %}
                <li> {{ participant.firstName }} {{ participant.lastName }} </li>
             {% endfor %}
            </ul>
    </div>
{% endif %}