{# src/Bdtln/DefaultBundle/Resources/views/menus/last_publications.html.twig #}
{# Here the menu witch display the last publications #}


<div class="col-md-2 column" id="flux">
    <h4>{{ 'Last publications' | trans }}</h4>
    {% if lastPublications is defined and lastPublications is not null and lastPublications | length > 0 %}
        <ul>
            {% for publication in lastPublications %}
                <li>
                    {{ publication.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>








