#The displaying of a project.
#@param project_slug the slug of the project we want to see
bdtln_project_display:
    path:     /display/{slug}
    defaults: { _controller: BdtlnProjectBundle:Project:index}
    requirements:
        slug:   ([a-zA-Z0-9-_])+

#Add a project
bdtln_project_add_project:
    path: /add_project
    defaults: { _controller: BdtlnProjectBundle:Project:add_project }

#Add an axe into a project
#@param project_slug the slug of the project we want to see
bdtln_project_update_axes_in_project:
    path: /update_axes/{slug}
    defaults: { _controller: BdtlnProjectBundle:Project:update_axes_in_project }
    requirements:
        slug:   ([a-zA-Z0-9-_])+

#Update a project
#@param project_slug the slug of the project we want to see
bdtln_project_update_project:
    path: /update_project/{slug}
    defaults: { _controller: BdtlnProjectBundle:Project:update_project }
    requirements:
        slug:   ([a-zA-Z-0-9-_])+

#Manage the participants to a project
bdtln_project_update_participants:
    path:   /update_participants/{slug}
    defaults:   { _controller: BdtlnProjectBundle:Project:update_participants }
    requirements:
        slug:   ([a-zA-Z0-9-_])+

#Manage the managers of a project
bdtln_project_update_managers:
    path:   /update_managers/{slug}
    defaults:   { _controller: BdtlnProjectBundle:Project:update_managers }
    requirements:
        slug:   ([a-zA-Z0-9-_])+
        
#Delete a project
bdtln_project_delete_project:
    path:   /delete/{slug}
    defaults:   { _controller: BdtlnProjectBundle:Project:delete_project }
    requirements:
        slug:   ([a-zA-Z0-9-_])+

#Add file in a project
bdtln_project_add_file:
    path:   /add-file/{slug}
    defaults:   { _controller: BdtlnProjectBundle:Project:add_file }
    requirements:
        slug:   ([a-zA-Z0-9-_])+
#Delete file in project
bdtln_project_delete_file:
    path:   /delete-file/{slug}
    defaults:   { _controller: BdtlnProjectBundle:Project:delete_file }
    requirements:
        slug:   ([a-zA-Z0-9-_])+