{# src/BdtlnProjectBundle/Resources/views/Project/display_project.html.twig #}
{#
    Here there is the displaying of a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}

{% block project_body %}
    
    <a href="{{ path('bdtln_project_add_axe_in_project' , {'slug': project.slug }) }}">Add an axe</a>
    <a href="{{ path('bdtln_project_update_project' , {'slug': project.slug }) }}">Update the project</a>
    
    <div class="row clearfix">
    	<div class="col-md-8 column" id="article">
            <!-- The title of the project -->
            <h2 class="text-center">{{ project.frenchTitle }}</h2>
            
            <!-- The description of the project -->
            <p class="lead">
		{{ project.frenchDescription | replace({'<script': '','</script>': '', '"': "&quot;", "'": "&#39;"}) | raw }}
            </p>
            
        </div>
        
        <div class="col-md-2 column">
        </div>
        <div class="col-md-2 column" >
            {% include "BdtlnProjectBundle:menus:participants.html.twig" %}
            {% include 'BdtlnProjectBundle:menus:attached_files.html.twig' %}
        </div>
    </div>

    <div class="row clearfix" id="pied_de_page">
        <div class="col-md-12 column">	
	</div>
    </div>

{% endblock %}